
$im-media-support: true !default;

@mixin media($conditions...) { 
  @if ($im-media-support and length($conditions) == 0) or 
      (not $im-media-support and im-intercepts-static-breakpoint($conditions...)) {
    @content;
  } @else if ($im-media-support and length($conditions) > 0) {
    @media #{unquote(parse-expression(nth($conditions, 1)))} {
      // Recursive call
      @include media(slice($conditions, 2)...) {
        @content;
      }
    }    
  }
 }






@font-face {
  font-family: 'LatoThin';
  font-weight: 900;
  src: local('Lato'), url('./fonts/lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  font-weight: 900;
  src: local('Lato'), url('./fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoRegular';
  font-weight: 900;
  src: local('Lato'), url('./fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  font-weight: 900;
  src: local('Lato'), url('./fonts/lato/Lato-Light.ttf') format('truetype');
}


.body{

  font-family: LatoThin ;

}

.sectionTitle{

  font-family: LatoBold;
  color:rgb(34, 126, 247);
  text-align: center;
  font-size:3rem;
  margin-top: 3rem;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }



  @mixin inline-animation($duration,$iteration) {
    $name: inline-#{unique-id()};
  
    @keyframes #{$name} {
      @content;
    }
  
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
  }





.header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: xx-large;
    padding: 10px;
    width: 100%;
    text-align: center;
    
  h1{
    font-family: LatoLight, Arial, serif ;
    
    @include inline-animation(2s, once) {
        100% { -webkit-transform: translateX(0%); }
        0% { -webkit-transform: translateX(100%); }
     }

  }


    h2{
      font-family: LatoRegular ;
     color: rgb(101, 238, 119);
    // @include transform(rotate(30deg));

     @include inline-animation(2s, once) {
         100% { -webkit-transform: translateX(0%); }
         0% { -webkit-transform: translateX(-100%); }
      }

    }

    hr{
       
     
        border-bottom: 1px solid white;
    }
}

.header_button{
position: absolute;
margin-left: 50%;
margin-right: 50%;
top:200px

}



.chat_container{

background-color: rgb(255, 255, 255);
border-radius: 10px;
  position:fixed;
  display: -moz-grid-line;
  bottom: 0rem;
  right: 0rem;
  padding: 0px;
  z-index: 10;
}



.chat_text_window{

  padding-top: 7rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(199, 198, 198);
  display: flex;
  align-items: baseline; 
}

.chat_text{
 
  padding: 5px;
  border-radius: 10px;
  background-color: cornflowerblue;
  margin-left: 1rem;
  color:white
}

.chat_window_host{
  position:relative;
}

.chatWindow_overlay{
  position:absolute;
}

.chatWindow_inline{
  display: block;
}


//$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

.iFrame{
  
  width:100%;
height:500px
}

.inputRange {
  box-shadow:none;
  border: #ffffff;
}

input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
